[My Room]


---- Furnitures -----
Choose color tone for furniture
   Bed :
   Desk : 0.92 -> 1.14
   Chair :
   TV : > 32 inche
   TV table :
   Panel :
---------------------
Ceiling Lantern
Belkin electrical outlet
New door
Check & Fix Room's small details: corner, color, bad work from past work
Cleaning Air Conditioner
Take out Built-in Shelf's doors & Closet Room's door
Attach Wallpaper

[Closet]
Fixed hanger
Mirror
etc. of table
Ceiling lantern

[Small Toilet (Left)]
1. Change Mirror Closet
2. Change lavatory pan : Automatic ass cleanser
3. Change lavatory sink

[Large Bath Room (Right)]

1. Destroy Wall
2. Change to 1 door
3. Fix cabinet below sink (It's all ruined)
4. Change lavatory pan :
5. Change lavatory sink
6. Change bath machine
7. After destroy wall, change another room to dry room for changing
